<!DOCTYPE html>
<html lang="en">
    <html lang="en">

        <%- include('../partials/head',{title: 'Sugoi Sushi'}) %>
        
    <body class="logReg">

        <%- include('../partials/header') %>

    <main class="logReg2">
        <div class="login-container">
            <div class="login-box">
                <h2>Iniciar Sesión</h2>
                <form method="post">
                    <div class="user-box">
                        <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : null%>" placeholder="Ingrese su Email">
                        <small id="error-email">
                            <%= locals.errors && errors.email ? errors.email.msg : null %> 
                        </small>
                    </div>

                    <div class="user-box">
                        <div class="eye">
                        <input type="password" name="password" id="password" value="<%= locals.old && old.password ? old.password : null%>" placeholder="Ingrese su contraseña">
                        <i class="fas fa-eye-slash" id="eye-pass"></i>
                        </div>
                        <small id="error-password">
                            <%= locals.errors && errors.password ? errors.password.msg : null %> 
                        </small>
                        <!-- <a id="olvido" href=""><small id="olvido">¿ Has olvidado la contraseña ?</small></a> -->
                    </div><br>

                    <div class="news-check1">
                        <input id="newscheck" checked type="checkbox" name="" >
                        <label class="news-check1">Recordarme.</label>
                    </div>
                    
                    <div class="submit-container">
                        <button id="buttonRegister" type="submit">
                            <span></span>
                            <span></span>
                            <span></span>
                            INGRESAR</button>
                        </div>
                    </div>
            </div>
        </div>
    </main>
    <script src="/javascripts/login.js"></script>
    <%- include('../partials/footer') %>
</body>
</html>