<!DOCTYPE html>
<html lang="en">

        <%- include('../partials/head') %>

    <body class="profile">

        <%- include('../partials/header',{title: locals.userLogin.nombre }) %>
    <main>
        <img class="imgProfile" src="/img/users/<%= locals.userLogin.imagen %>" alt="">
        <h1> Hola <%= locals.userLogin.roll %> <%= locals.userLogin.nombre %></h1>

        <form action="/users/logout?_method=DELETE" method="post">
        <button type="submit"><i class="fas fa-power-off"></i> Cerrar sesion</button>
    </form>
    </main>
</body>
</html>