<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title: 'Sugoi Sushi' }) %>

    <body>
        <%- include('../partials/header') %>
            <main class="ProdCreate-Edit">
                <div class="create-edit-container">
                    <div class="create-edit-box">
                        <h2>Creación de Producto</h2>
                        <form action="/admin/crearProducts" method="post" enctype="multipart/form-data">
                            <div class="product-box">
                                <select class="form-select" name="categoriasId" id="categoria" aria-label="Floating label select example" value="<%= locals.old && old.categoriasId ? old.categoriasId : null %> ">
                                <option value ="" selected hidden>Selecciona una categoria</option>
                                <% Categorias.forEach(categoria => { %>
                                    <option value=<%= categoria.id%>><%=categoria.nombre%></option>
                                <% }) %> 
                              </select>
                              <label for="categoria">Categoria</label>
                              <p class="span text-danger" id="errorCategorias">
                                <%= locals.errors && errors.categoriasId ? errors.categoriasId.msg : null %>
                            </p>
                            </div>
                            <div class="product-box">
                                <input type="text" id="nombreProducto" name="nombreProducto" required = ""
                                    value="<%= locals.old && old.nombreProducto ? old.nombreProducto : null %> ">
                                <label for="nombreProducto">Nombre del plato</label>
                                <!-- <small>Obligatorio</small> -->
                                <p class="span text-danger" id="errorNombreProducto">
                                    <%= locals.errors && errors.nombreProducto ? errors.nombreProducto.msg : null %>
                                </p>

                            </div>
                            <div class="product-box">
                                <input type="text" id="descripcion" name="descripcion" required=""
                                    value="<%= locals.old && old.descripcion ? old.descripcion : null %> ">
                                <label for="descripcion" >Descripcion del plato</label>
                                <!-- <small> Obligatorio </small> -->
                                    <p class="span text-danger" id="errorDescripcion">
                                        <%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %>
                                    </p>
                                    
                            </div>

                            <div class="product-box">
                                <input type="text" id = "precio" name="precio" required=""
                                    value="<%= locals.old && old.precio ? old.precio : null %> ">
                                <label>Precio</label>
                                <!-- <small>Obligatorio</small> -->
                                <p class="span text-danger" id="errorPrecio">
                                    <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                                </p>
                            </div>
                            <div class="product-box">
                                <input type="text" id="descuento" name="descuento" required=""
                                    value="<%= locals.old && old.descuento ? old.descuento : null %> ">
                                <label>Descuento</label>
                               <!--  <small>Opcional</small> -->
                                <p class="span text-danger" id="errorDescuento">
                                    <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                                </p>
                            </div>
                           

                               <!--  <small>Obligatorio</small> -->
                               <div class="product-box">

                                <input type="file" name="imagen" id="image" accept="image/*">
                            </div>
                            <p class="span text-danger" id="errorImagen">
                                <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                            </p> 
                               
                            <div class="product-box">
                                <input type="checkbox" name="disponible" id="disponible" value="1"
                                value="<%= locals.old && old.disponible ? old.disponible : null %>">
                                <label for="disponible">disponible</label>
                                <p class="span text-danger" id="errorDisponible">
                                    <%= locals.errors && errors.disponible ? errors.disponible.msg : null %>
                                </p>
                            </div>

                            <div class="btn-container">
                                <button type="submit" id="btn-submit" >Crear Producto</button>
                            </div>

                        </form>
                        <div class="signup_link">
                            <p class="cuenta">¿ Queres editar un Producto ?</p>
                            <a href="/admin/listarProducts">Clickeá acá</a>
                        </div>
                    </div>

                </div>

            </main>
            <script src="/javascripts/validacionProductos.js"></script>
            <%- include('../partials/footer') %>
    </body>

</html>