<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{title: 'Sugoi Sushi' }) %>

    <body>
        <%- include('../partials/header') %>
            <main class="ProdCreate-Edit">
                <div class="create-edit-container">
                    <div class="create-edit-box">
                        <h2>Creación de Producto</h2>
                        <form action="/admin/crearProducts" method="post" enctype="multipart/form-data">
                            <div class="product-box">
                                <select class="form-select" name="categoriasId" id="categoriasId"
                                    aria-label="Floating label select example">
                                    <option selected hidden value="" >Selecciona una opción</option>
                                    <option value="1">combinados</option>
                                    <option value="2">Salsas</option>
                                    <option value="3">Platos</option>
                                </select>
                                <label for="categoriasId">Categoria</label>
                                <!-- <small>Obligatorio</small> -->
                            </div>
                            <div class="product-box">
                                <input type="text" id="nombreProducto" name="nombreProducto" required
                                    value="<%= locals.old && old.nombreProducto ? old.nombreProducto : null %> ">
                                <label for="nombreProducto">Nombre del plato</label>
                                <!-- <small>Obligatorio</small> -->
                                <p class="span text-danger">
                                    <%= locals.errors && errors.nombreProducto ? errors.nombreProducto.msg : null %>
                                </p>

                            </div>
                            <div class="product-box">
                                <input type="text" id="descripcion" name="descripcion" required=""
                                    value="<%= locals.old && old.descripcion ? old.descripcion : null %> ">
                                <label for="descripcion" >Descripcion del plato</label>
                                <!-- <small> Obligatorio </small> -->
                                <% if (locals.errors && errors.descripcion) { %>
                                    <p class="span text-danger">
                                        <%= errors.descripcion.msg %>
                                    </p>
                                    <% } %>
                            </div>

                            <div class="product-box">
                                <input type="text" name="precio" required=""
                                    value="<%= locals.old && old.precio ? old.precio : null %> ">
                                <label>Precio</label>
                                <!-- <small>Obligatorio</small> -->
                                <p class="span text-danger">
                                    <%= locals.errors && errors.precio ? errors.precio.msg : null %>
                                </p>
                            </div>
                            <div class="product-box">
                                <input type="text" name="descuento" required=""
                                    value="<%= locals.old && old.descuento ? old.descuento : null %> ">
                                <label>Descuento</label>
                               <!--  <small>Opcional</small> -->
                                <p class="span text-danger">
                                    <%= locals.errors && errors.descuento ? errors.descuento.msg : null %>
                                </p>
                            </div>
                           

                               <!--  <small>Obligatorio</small> -->
                               <div class="product-box">

                                <input type="file" name="imagen" id="image" accept="image/*">
                            </div>
                            <p class="span text-danger">
                                <%= locals.errors && errors.imagen ? errors.imagen.msg : null %>
                            </p> 
                               
                            <div class="product-box">
                                <input type="checkbox" name="disponible" id="disponible" value="1"/>
                                <label for="disponible">disponible</label>
                            <small>Obligatorio</small>
                            </div>

                            <div class="btn-container">
                                <button type="submit">Crear Producto</button>
                            </div>

                        </form>
                        <div class="signup_link">
                            <p class="cuenta">¿ Queres editar un Producto ?</p>
                            <a href="/admin/listarProducts">Clickeá acá</a>
                        </div>
                    </div>

                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>